.divCardProduto{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    padding: 1rem;
    background-color: #A3CEF1;
    border-radius: 0.4rem;
    outline: 1px solid #6c7175;
    box-shadow: 4px 4px #6c7175;
}

.divInformacoes{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.divLixeira{
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    background-color: aliceblue;
    border-radius: 0.4rem;
    outline: 1px solid #6c7175;
    box-shadow: 4px 4px #6c7175;
}

h3{
    margin: 0;
}

.icon{
    font-size: 2rem;
}

.text{
    width: 400px;
    word-wrap: break-word;
}

@media screen and (max-width: 840px) {
    .divCardProduto{
        width: 80%;
    }
}

@media screen and (max-width: 640px) {
    .text{
        width: 300px;
        word-wrap: break-word;
    }
}

@media screen and (max-width: 500px) {
    .divCardProduto{
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    .divLixeira{
        padding: 0.5rem 0;
        width: 95%;
    }
    .text{
        font-size: 15px;
        width: 150px;
        word-wrap: break-word;
    }
}    
